.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}
.ItemCartContainer{
    margin-top: 2em;
}
.ItemCartC{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.TotalBuy{
    display: flex;
    justify-content: center;
}